<div class="parent" fxLayout="row" fxLayoutAlign="space-around center">
    <form #online="ngForm" (ngSubmit)="submit(online)">
        <h1>TypeScript Assessment</h1>
        <div>
            <h2>Instructions:</h2>
            1) This Online Assessment simulates a real online certification exams. <br>
            2) You will be presented Multiple Choice Questions (MCQs) based on general Concepts, where you will be given
            four options. <br>
            3) You will select the best suitable answer for the question and then proceed to the next question without
            wasting given time. <br>
            4) You will get your online test score after finishing the complete test.
        </div><br>
        <div class="child" fxLayout="column" fxLayoutAlign="space-around center">
            
            <label id="radio-group-label">1) What is .subscribe?</label>
            <mat-radio-group class="radio-group" [(ngModel)]="type1" name="question1">
                <mat-radio-button class="radio-button" *ngFor="let first of exampleFirst"
                    [value]="first">{{first}}</mat-radio-button>
            </mat-radio-group>
            <div>Your Selected Answer is : {{type1}}</div>
            <pre></pre>

            <label id="radio-group-label">2) Which type of JavaScript language is ___</label>
            <mat-radio-group class="radio-group" [(ngModel)]="type2" name="question2">
                <mat-radio-button class="radio-button" *ngFor="let second of exampleSecond"
                    [value]="second">{{second}}</mat-radio-button>
            </mat-radio-group>
            <div>Your Selected Answer is : {{type2}}</div>
            <pre></pre>

            <label id="radio-group-label">3) The "function" and " var" are known as: </label>
            <mat-radio-group class="radio-group" [(ngModel)]="type3" name="question3">
                <mat-radio-button class="radio-button" *ngFor="let third of exampleThird"
                    [value]="third">{{third}}</mat-radio-button>
            </mat-radio-group>
            <div>Your Selected Answer is : {{type3}}</div>
            <pre></pre>

            <label id="radio-group-label">4) Which of the following variables takes precedence over the others if the names are the same?</label>
            <mat-radio-group class="radio-group" [(ngModel)]="type4" name="question4">
                <mat-radio-button class="radio-button" *ngFor="let four of exampleFourth"
                    [value]="four">{{four}}</mat-radio-button>
            </mat-radio-group>
            <div>Your Selected Answer is : {{type4}}</div>
            <pre></pre>

            <label id="radio-group-label">5) Which one of the following is the correct way for calling the JavaScript code?</label>
            <mat-radio-group class="radio-group" [(ngModel)]="type5" name="question5">
                <mat-radio-button class="radio-button" *ngFor="let five of exampleFifth"
                    [value]="five">{{five}}</mat-radio-button>
            </mat-radio-group>
            <div>Your Selected Answer is : {{type5}}</div>
            <pre></pre>

            <button mat-raised-button color="primary" class="btn" type="submit">Finish</button>
        </div>
    </form>
</div>