div{
    text-align: center;
}
label{
    text-align: center;
}
.alert-danger{
    background-color: #f44336;
}
.alert{
    color:white;
    margin-bottom: 15px;
    text-align: left;
}
.btn {
    display: table-cell;
    max-width: 600px;
}
.btn{
    margin: 8px 8px 8px 0;
}